{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.calls is empty %}
        {% set color = 'grey' %}
    {% elseif collector.countErrors > 0 %}
        {% set color = 'red' %}
    {% else %}
        {% set color = 'green' %}
    {% endif %}

    {% set icon %}
        {{ source('@PlaybloomGuzzle/Icon/network.svg') }}
        <span class="sf-toolbar-status sf-toolbar-status-{{ color }}">{{ collector.calls|length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Requests</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.calls|length - collector.countErrors }}</span>
            {% if collector.countErrors > 0 %}
                + <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.countErrors }}</span>
            {% endif %}
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Requests time</b>
            {% if collector.totalTime > 1.0 %}
                <span>{{ '%0.2f'|format(collector.totalTime) }} s</span>
            {% else %}
                <span>{{ '%0.0f'|format(collector.totalTime * 1000) }} ms</span>
            {% endif %}
        </div>
    {% endset %}

    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': 'guzzle' } %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            {{ source('@PlaybloomGuzzle/Icon/network.svg') }}
        </span>
        <strong>{{ (collector.name|capitalize)|default('HTTP calls') }}</strong>
        <span class="count">
            {% if collector.calls is not empty %}
                <span>{{ collector.calls|length }}</span>
                {% if collector.totalTime > 1.0 %}
                    <span>{{ '%0.2f'|format(collector.totalTime) }} s</span>
                {% else %}
                    <span>{{ '%0.0f'|format(collector.totalTime * 1000) }} ms</span>
                {% endif %}
            {% endif %}
        </span>
    </span>
{% endblock %}

{% block head %}
    {{ parent() }}

    <style>
        {{ include('@PlaybloomGuzzle/Profiler/profiler.css.twig') }}
    </style>
{% endblock %}

{% block panel %}
    <h2>{{ (collector.name|capitalize)|default('HTTP calls') }}</h2>

    {% include '@PlaybloomGuzzle/Profiler/calls.html.twig' with {'calls': collector.calls } %}
{% endblock %}
